/* Tablets */
@media screen and (min-width: 768px) {
    .mobile-nav {
        translate: -740px;
        width: 70vw;
    }

    .nav-active {
        translate: 0;
    }

    .cart {
        translate: 740px;
        width: 70vw;
    }

    .cart-body p {
        font-size: 28px;
    }

    .cart-body i {
        font-size: 100px;
    }

    .cart-body a {
        font-size: 22px;
    }

    .cart-active {
        translate: 0;
    }

    /* Business Feature Cards */
    .business-feature-card h2 {
        width: auto;
    }
}

/* Desktop */
@media screen and (min-width: 992px) {
    /* Global */
    h2 {
        font-size: 38px;
    }

    /* Hide mobile navigation */
    .navbar-row-mobile {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    /* Desktop navigation */
    .navbar-row-desktop {
        display: block;
        padding: 20px 0;
    }

    .navbar-row-desktop .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-row-desktop a.logo,
    .navbar-row-desktop .nav-icons {
        flex: 1;
    }

    .navbar-row-desktop .logo img {
        width: 170px;
    }

    .navbar-row-desktop .searchbar {
        margin: auto;
        flex: 2;
    }

    .navbar-row-desktop .searchbar input {
        font-size: 20px;
    }

    .navbar-row-desktop .searchbar i {
        font-size: 20px;
    }

    .navbar-row-desktop .nav-icons {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-row-desktop .nav-icons i:nth-child(1) {
        margin-right: 20px;
    }

    .navbar-row-desktop .nav-icons i {
        color: var(--dark-color);
        font-size: 36px;
        transition: 0.3s all;
    }

    .navbar-row-desktop .nav-icons i:hover {
        color: #425b58;
    }

    .desktop-nav {
        display: block;
        background-color: var(--accent-color2);
    }

    .desktop-nav .down-arrow {
        display: inline-block;
        transform: rotate(90deg);
        margin-left: 8px;
    }

    .desktop-nav ul {
        list-style-type: none;
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        align-items: flex-start;
    }

    .desktop-nav .menu-item {
        position: relative;
        white-space: nowrap;
    }
    
    .desktop-nav .menu-item > a {
        display: flex;
        align-items: center;
        padding: 20px 24px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        transition: 0.2s ease-in;
    }

    .desktop-nav .menu-item:hover > a {
        cursor: pointer;
        background-color: #6F9591;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        left: 0;
        background-color: white;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        z-index: 10;
        padding: 8px 0;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    }

    .desktop-nav .menu-item > .dropdown-menu {
        position: absolute;
    }

    /* When hovering over a menu item that has a dropdown, display its direct child dropdown-menu */
    .menu-item.has-dropdown:hover > .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto; /* Allow mouse events only when visible */
    }

    /* Target dropdowns that are inside other dropdowns */
    .dropdown-menu .dropdown-menu {
        /* Allow mouse events only when visible */
        left: 100%;
        top: 0px;
        margin-top: 0;
    }

    /* Cart sidebar */
    .cart {
        translate: 800px;
        width: 40vw;
    }

    .cart-active {
        translate: 0;
    }

    /* Hero Section */
    .hero-section {
        background: url(../images/daniel-salcius-desktop-unsplash.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 10% 55%;
        width: 100%;
        height: 400px;
        padding: 20px 0;
    }

    .hero-section .container {
        align-items: flex-start;
    }

    .hero-section h1 {
        text-align: left;
        text-shadow: none;
    }

    .hero-section a {
        font-size: 22px;
        padding: 8px 80px;
        margin-top: 20px;
    }

    /* Shopping Item Cards */
    .shopping-item-cards .container {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
    }

    .shopping-item-cards .shopping-item-card {
        margin: 0;
        width: 33%;
    }

    .shopping-item-cards .shopping-item-card:nth-child(2) {
        margin: 0 30px;
    }

    .shopping-item-cards .shopping-item-card-1 {
        background: url(../images/howard-bouchevereau-desktop-unsplash.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .shopping-item-card h2 {
        font-size: 40px;
    }
    
    .shopping-item-card span.shop-now {
        font-size: 20px;
    }
    /* Product Section */
    .new-arrivals {
        margin: 40px 0;
    }

    .product-card h3 {
        font-size: 22px;
    }
    
    .product-card img {
        width: 316px;
    }

    .img-wrapper {
        width: 316px;
        height: 316px;
    }

    .slide-effect {
        width: 316px;
    }

    .img-wrapper:hover .slide-effect {
        height: 316px;
    }
    
    .product-details p {
        font-size: 18px;
    }

    /* Business Features */
    .business-feature-cards {
        flex-direction: row;
    }

    /* Email Newsletter */
    .email-newsletter:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: url(../images/marita-kavelashvili-desktop-unsplash.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .email-newsletter h2 {
        font-size: 42px;
        width: auto;
    }

    .email-newsletter p {
        width: 290px;
        font-size: 22px;
        margin: 40px 0;
    }

    .email-newsletter a {
        font-size: 22px;
    }

    .form-row {
        display: flex;
        justify-content: space-between;
    }

    .form-row div {
        flex: 1;
    }

    .form-row .first-name {
        margin-right: 20px;
    }

    /* Footer */
    footer {
        padding: 60px 0 50px 0;
    }

    .footer-rows-container {
        flex-direction: row;
        justify-content: space-between;
    }

    footer h3 {
        font-size: 20px;
    }

    footer p {
        font-size: 18px;
    }

    footer .container>p {
        font-size: 14px;
        text-align: center;
    }

    .footer-row {
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
    }

    .footer-row .footer-column:nth-child(1),
    .footer-row .footer-column:nth-child(2) {
        flex: 1;
    }

    .contact-information h3 {
        text-align: center;
    }

    .contact-information-data {
        display: flex;
        justify-content: space-between;
    }

    .social-media-icons {
        display: flex;
        justify-content: center;
    }

    .social-media-icons i {
        font-size: 30px;
    }

    .social-media-icons i.fa-facebook-f {
        padding: 10px 16px;
    }
}

@media screen and (min-width: 1060px) {
    /* Cart */
    .cart {
        translate: 1500px;
        width: 30vw;
    }

    .cart-active {
        translate: 0;
    }

    /* Modal */
    .modal-content {
        width: 70vw;
    }
}

@media screen and (min-width: 1700px) {
    /* Global */
    h2 {
        font-size: 42px;
    }
    
    /* Cart */
    .cart {
        width: 20vw;
    }

    /* Hero */
    .hero-section {
        height: 600px;
    }

    /* Email newsletter */
    .modal-content {
        width: 60vw;
    }
}

@media screen and (min-width: 2000px) {
    /* Email newsletter */
    .modal-content {
        width: 40vw;
    }
}
