/* Get the Bellfort Font Family from Files */
@font-face {
    font-family: Bellfort;
    src: url(../fonts/Bellfort-Family/BellfortRegular.otf);
}

@font-face {
    font-family: Bellfort;
    src: url(../fonts/Bellfort-Family/BellfortBold.otf);
    font-weight: bold;
}

/* Create CSS Variables */
:root {
    --accent-color1: #faba8e;
    --accent-color2: #587471;
    --supporting-color1: #d6dee4;
    --supporting-color2: #262401;
    --dark-color: #1c2e1b;
}

/* ===================== Global ====================== */
body {
    color: var(--dark-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bellfort", sans-serif;
    margin: 0;
}

h2 {
    font-size: 34px;
}

i {
    cursor: pointer;
}

input {
    padding: 8px;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.btn {
    color: var(--dark-color);
    background-color: var(--accent-color1);
    font-weight: 600;
    text-decoration: none;
    padding: 8px 50px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.btn:hover {
    background-color: #e2a57c;
}

.btn-outline {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 50px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
}

.btn-outline:hover {
    color: var(--accent-color2);
    background-color: white;
}

/* ==================== Skip to Main Content ======================= */
.skip-to-main-content-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: var(--dark-color);
    color: white;
    text-decoration: none;
    opacity: 0;
}

.skip-to-main-content-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

/* ========================= Sale Promo ============================= */
.sale-promo {
    background-color: var(--dark-color);
}

.sale-promo .container {
    padding: 15px 0;
}

.sale-promo p {
    margin: 0;
    text-align: center;
}

.sale-promo p,
.sale-promo a {
    color: white;
}

.sale-promo a:hover {
    text-decoration: none;
}

/* =========================== Navigation =========================== */

.navbar .nav-icon .navbar-toggle#js-navbar-toggle img,
.navbar .nav-icons .nav-icon img,
.mobile-nav-footer img {
    cursor: pointer;
}

.navbar .nav-icon .navbar-toggle#js-navbar-toggle img,
.navbar .nav-icons img {
    width: 30px;
}

.navbar .logo img {
    width: 130px;
    display: block;
    margin: auto;
}

.navbar .nav-icons i {
    font-size: 28px;
}

.navbar-row-mobile {
    padding: 20px 0;
}

.navbar-row-mobile .container,
.navbar-row-mobile .nav-icons {
    display: flex;
    align-items: center;
}

.navbar-row-mobile .navbar-row-item {
    flex: 1;
    justify-content: center;
}

.navbar-row-mobile .nav-icons {
    justify-content: flex-end;
}

.nav-icons .nav-icon span i {
    padding-right: 5px;
}

/* Searchbar */
.mobile-searchbar {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visiblity 0.3s;
    transition-delay: 0.07s;
    padding: 10px 0;
    background-color: white;
    width: 100%;
}

.searchbar {
    display: flex;
    align-items: center;
    background-color: var(--accent-color2);
    margin: auto;
    width: 90vw;
    margin-bottom: 20px;
}

.searchbar input {
    flex: 1;
    align-self: stretch;
    font-size: 14px;
}

.searchbar i {
    color: white;
    padding: 10px;
}

/* Mobile navigation */
.mobile-nav {
    position: fixed;
    background-color: white;
    top: 0;
    height: 100vh;
    width: 60vw;
    padding: 20px;
    overflow: auto;
    translate: -500px;
    transition: 0.5s all ease-in-out;
    margin-bottom: 20px;
    z-index: 1;
}

.mobile-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav-header h2 {
    margin: 0;
    font-size: 40px;
    padding: 0;
}

.mobile-nav-header i {
    font-size: 40px;
    padding-bottom: 2px;
}

.mobile-nav-body {
    padding: 20px 0;
}

.nav-links a {
    display: block;
    margin-bottom: 12px;
}

.mobile-nav-body .nav-links a {
    color: var(--dark-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.dropdown-label span {
    display: inline-block;
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    display: none;
}

.dropdown a {
    margin-bottom: 5px;
}

.mobile-nav-footer {
    display: flex;
    align-items: center;
}

.mobile-nav-footer i {
    font-size: 40px;
    border: 2px solid var(--dark-color);
    border-radius: 100px;
    padding: 14px 18px;
    margin-right: 15px;
}

.mobile-nav-footer p {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/* Desktop Navigation */
.navbar-row-desktop {
    display: none;
}

.desktop-nav {
    display: none;
}

/* Cart */
.cart {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60vw;
    padding: 20px;
    overflow: auto;
    translate: 500px;
    transition: 0.5s all ease-in-out;
    margin-bottom: 20px;
    z-index: 1;
}

.cart-header i {
    font-size: 40px;
}

.cart-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-body p {
    font-size: 20px;
    text-align: center;
}

.cart-body i {
    display: block;
    font-size: 80px;
    margin: 20px 0;
}

.cart-body a {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

/* When the Hamburger Menu is Clicked */
.nav-active {
    translate: 0;
}

/* When the searchbar icon is clicked */
.searchbar-active {
    opacity: 1;
    visibility: visible;
}

/* When the dropdown link is clicked */
.dropdown-active {
    display: block;
}

.dropdown-label-active {
    transform: rotate(90deg);
}

/* When the shopping cart button is clicked */
.cart-active {
    translate: 0;
}

/* ============================ Hero Section =========================== */
.hero-section {
    background: url(../images/daniel-salcius-RRcYcdGY630-unsplash.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 360px;
    padding: 20px 0;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.hero-section h1 {
    font-size: 60px;
    width: 228px;
    text-align: center;
}

.hero-section a {
    margin-top: 10px;
}

/* ========================== Shopping Item Cards ========================= */
.shopping-item-cards .container {
    display: flex;
    flex-direction: column;
}

.shopping-item-card {
    background-color: #D9D9D9;
    padding: 25px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.shopping-item-card h2,
.shopping-item-card span {
    color: white;
    text-shadow: 2px 4px 4px hsla(0, 0%, 0%, 0.59);
}

.shopping-item-card:not(:nth-child(2)) {
    margin: 25px 0;
}

.shopping-item-card h2 {
    font-size: 36px;
    font-weight: 400;
}

.shopping-item-card span.shop-now {
    font-weight: 500;
    cursor: pointer;
}

.shopping-item-card span.shop-now i {
    margin-left: 5px;
    transition: all 0.2s ease-in;
}

/* When the Shop Now span is hovered, the arrow icon will move to the right */
.shopping-item-card span.shop-now:hover>i {
    margin-left: 20px;
}

.shopping-item-cards .shopping-item-card-1 {
    background: url(../images/howard-bouchevereau-BRDO4C-0h_s-unsplash.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shopping-item-cards .shopping-item-card-2 {
    background: url(../images/accessories.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shopping-item-cards .shopping-item-card-3 {
    background: url(../images/components.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ============================= Product Section ========================== */
.product-cards {
    display: flex;
    overflow-x: auto;
}

.product-card:not(:nth-last-child(1)) {
    margin-right: 20px;
}

.product-card h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.product-card img {
    width: 241px;
}

.product-details p {
    font-size: 16px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-arrivals,
.best-sellers {
    margin: 30px 0 40px 0;
}

.img-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 241px;
    height: 241px;
}

.overlay {
    position: absolute;
    transition: all 0.4s ease;
    opacity: 0;
}

.img-wrapper:hover .overlay {
    opacity: 1;
}

.slide-effect {
    height: 0;
    width: 241px;
    bottom: 3px;
    background-color: rgba(0, 0, 0, 0.33);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-effect a {
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 600;
}

.img-wrapper:hover .slide-effect {
    height: 241px;
}

.img-wrapper:hover {
    cursor: pointer;
}

.new-arrivals h2 {
    margin-bottom: 5px;
}

.best-sellers h2 {
    margin-bottom: 20px;
}

/* =============================== Business Features ======================== */
.business-features {
    background-color: var(--accent-color2);
    padding: 60px 0;
}

.business-feature-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.business-feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-feature-card img {
    width: 123px;
}

.business-feature-card h2 {
    color: white;
    font-size: 32px;
    width: 300px;
    text-align: center;
    padding: 20px 0;
}

.business-feature-card-middle {
    margin: 60px 0;
}

/* =========================== Email Newsletter ============================ */
.email-newsletter {
    position: relative;
    padding: 20px 0;
    height: 470px;
}

/* To make it so the background opacity can change, but doesn't affect the
content in front of it */
.email-newsletter:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: url(../images/marita-kavelashvili-ugnrXk1129g-unsplash.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.email-newsletter .container {
    position: relative;
    /* padding: 20px 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.email-newsletter h2 {
    font-size: 40px;
    width: 270px;
    text-align: center;
}

.email-newsletter p {
    font-weight: 500;
    font-size: 20px;
    width: 270px;
    text-align: center;
    margin: 20px 0;
}

.email-newsletter a {
    cursor: pointer;
}

/* =============== Modal ================= */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80vw;
}

.modal-header {
    background-color: var(--dark-color);
    color: white;
    padding: 20px 25px;
    margin: -1px;
}

.modal-header h2 {
    font-weight: 700;
}

.modal-body {
    padding: 25px;

}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

.form-row,
.subscribe-email {
    width: 100%;
}

.modal-content form input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 20px 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.modal-content form a {
    margin: 20px 0;
}


.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    font-size: 35px;
    /* border-radius: 0.25rem; */
    color: darkgray;
}

.close-button:hover {
    color: lightgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}



/* ============================ Footer ===================== */
footer {
    background-color: var(--dark-color);
    padding: 40px 0;
}

footer h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #bfbfbf;
    text-transform: uppercase;
}

footer p {
    font-size: 14px;
}

footer .link {
    color: white;
    text-decoration: none;
}

footer .link:hover {
    text-decoration: underline;
}

.footer-rows-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-rows-container .footer-row:nth-child(1) {
    margin-bottom: 40px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    flex: 2;
}

/* for nth-child to work, have to do the parent, then the child you
want, then the specific number of child */
.footer-row .footer-column:nth-child(1) {
    flex: 3;
}

.contact-information {
    margin-top: 40px;
}

.contact-information p,
footer .container>p {
    color: white;
}

.contact-information i {
    margin-right: 8px;
}

.social-media-icons {
    margin: 40px 0;
}

.social-media-icons i {
    background-color: white;
    color: var(--dark-color);
    padding: 10px;
    margin-right: 20px;
    font-size: 24px;
    border-radius: 50px;
    transition: 0.3s all;
}

.social-media-icons i.fa-facebook-f {
    padding: 10px 14px;
}

.social-media-icons i.fa-instagram,
.social-media-icons i.fa-linkedin-in {
    padding: 10px 12px;
}

.social-media-icons i:hover {
    background-color: #d2d2d2;
}

footer .container>p {
    font-size: 12px;
}